/*---Base---*/

html {
    font-size:100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/*---Variables, Utils---*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F4F4F4;
$white: #ffffff;

/*---Mixin---*/

@mixin header {
    font-size:150%;
    font-weight:bold;
    margin-bottom: 20px;
    margin-left:-15px;
}

@mixin link($color: $white) {
    text-decoration: none;
    color: $color;
    &:visited {
        color: $color;
    }
}

@mixin heart-icon($font-size: 150%) {
    align-self: center;
    padding: 20px;
    font-size: $font-size;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*---Page---*/

.logo {
    margin: 20px auto 10px auto;
    text-align: center;

    &__icon {
        position: absolute;
        font-size: 150%;
        top: 22px;
        left: 20px;
        color: initial;
        &:visited {
            color: initial;
        }
    }
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #a7a7a7;
    background: linear-gradient(180deg, #a7a7a7 0%, #e2e2e2 15%);
    padding: 15px;
    text-align: center;
    

    &__icon {
        flex-basis: 30px;
        color: #4D4D4D;
    }

    &__text {
        flex-basis: 150px;
        color: #4D4D4D;
        font-weight: bold;
    }
}

.explore {
    background-color: $color-background;
    height: 200px;
    text-align: center;
    
    &__title {
        font-size: 150%;
        font-weight: bold;
        padding: 25px;
    }

    &__txt {
        color: #4D4D4D;
        padding: 0 25px 25px 25px;
    }

    &__btn {
        border-radius: 30px;
        color: $white;
        background: $color-secondary;
        background: linear-gradient(175deg, $color-secondary 0%, $color-primary 98%);
        padding: 10px;
        cursor: pointer;
        user-select: none;
        width: 50%;
        margin: 0 auto;
        box-shadow: 3px 3px 14px 0px #a7a7a7;
        transform: scale(1);
        transition: transform 400ms;
        

        &:hover {
            transform: scale(1.15);
        }

        & .anchor {
            @include link;
        }
    }
}

.instruction-list {
    width: 80%;
    margin: 40px auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__icon {
        color: #4D4D4D;
        padding-right: 20px;
    }

    &::before {
        content:attr(data-header);
        @include header
    }
  
    & li {
        counter-increment: step-counter;
        margin-bottom: 10px;
        background-color: $color-background;
        width: 90%;
        padding: 20px;
        border-radius: 20px;
        font-weight: bold;
        box-shadow: 3px 3px 14px 0px #a7a7a7;
        
        &::before{
            content: counter(step-counter);
            margin-right: 20px;
            margin-left: -30px;
            font-size: 80%;
            background-color: $color-primary;
            color: $white;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 20px;  
        }

        &:hover {
            color: initial;
            .instruction-list__icon:hover {
                color: $color-primary;
            }
        }
    }
}

.restaurants {
    margin: 0px;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background;

    &__header {
        @include header
    }

    &__btn {
        background-color: $white;
        border-radius: 20px;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 3px 3px 14px 0px #a7a7a7;
        position: relative;
        @include link ($color: initial);

        img {
            width: 100%;
            object-fit: cover;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin-bottom: -10px;
        }

        & .new {
            position: absolute;
            background-color: $color-tertiary;
            color: darken($color-tertiary , 40%);
            padding: 5px 20px;
            border-radius: 3px;
            top: 12px;
            right: 12px;
        }

        & .caption {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__text {
                margin-left: 10px;
                > p:first-child {
                    font-weight: bold;
                    margin-bottom: -10px;
                }
            }

            &__icon {
                @include heart-icon;

                &:hover {
                    color: transparent;
                }
                
                &--full {
                    @include heart-icon;
                    color: transparent;
                    transition: transform 700ms, background-color 300ms 150ms;

                        &:hover {
                        transform: scale(1.15);
                        background: -webkit-linear-gradient(198deg, $color-primary 5%, $color-secondary 49%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                 }
                }

                
            }
        }
    }

}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: darken($color-background , 75%);
    padding: 30px 10%;

    &__logo {
        font-family: 'Shrikhand', cursive;
        color: $color-background;
        font-size: 120%;
        padding-bottom: 20px;
    }

    &__link {
        @include link ($color-background);
    }

    &__icon {
        padding-right: 10px;
        width: 15px;
    }
}

/*--MENU PAGES--*/

.background-img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: 250px;
}

.menu {
    background-color: $color-background;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -70px;
    position: relative;

    &__header {
        font-family: 'Shrikhand', cursive;
        @include header;
        padding: 30px 30px 10px 30px;
    }

    &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        @include heart-icon(100%);

            &:hover {
                color: transparent;
            }
                
            &--full {
                position: absolute;
                top: 10px;
                right: 10px;
                @include heart-icon(100%);
                color: transparent;
                // transition: transform 700ms, background-color 300ms 150ms;

                    &:hover {
                    // transform: scale(1.15);
                    background: -webkit-linear-gradient(198deg, $color-primary 5%, $color-secondary 49%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
            }

                
    }
    
}
