/*---Base---*/

html {
    font-size:100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/*---Variables, Utils---*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F4F4F4;
$color-text: #4D4D4D;
$white: #ffffff;

/*---Mixin---*/

@mixin header ($size: 20px) {
    font-size:150%;
    font-weight:bold;
    margin-bottom: $size;
    margin-left:-15px;
}

@mixin link($color: $white) {
    text-decoration: none;
    color: $color;
    &:visited {
        color: $color;
    }
}

@mixin heart-icon($size: 25px 25px 0 0) {
    font-size: 150%;
    cursor: pointer;
    position: absolute;
    margin: $size;
    
}

@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

@mixin shadow($value: 0%) {
    box-shadow: 3px 3px 14px 0px darken(#a7a7a7, $value);
}

@mixin main-btn($width: 50%) {
    border-radius: 30px;
    color: $white;
    background: $color-secondary;
    background: linear-gradient(175deg, $color-secondary 0%, $color-primary 98%);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    width: $width;
    margin: 0 auto;
    @include shadow;
    transform: scale(1);
    transition: transform 400ms;
        &:hover {
            transform: scale(1.15);
            background: linear-gradient(to right bottom, lighten($color-secondary, 5), lighten($color-primary, 5));
            @include shadow(30%);
        }
}

/*---Page---*/

.logo {
    margin: 20px auto 10px auto;
    text-align: center;

    &__icon {
        position: absolute;
        font-size: 150%;
        top: 22px;
        left: 20px;
        color: initial;
        &:visited {
            color: initial;
        }
    }
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #a7a7a7;
    background: linear-gradient(180deg, #a7a7a7 0%, #e2e2e2 15%);
    padding: 15px;
    text-align: center;
    

    &__icon {
        flex-basis: 30px;
        color: $color-text;
    }

    &__text {
        flex-basis: 150px;
        color: $color-text;
        font-weight: bold;
    }
}

.explore {
    background-color: $color-background;
    height: 200px;
    text-align: center;
    
    &__title {
        font-size: 150%;
        font-weight: bold;
        padding: 25px;
    }

    &__txt {
        color: $color-text;
        padding: 0 25px 25px 25px;
    }

    &__btn {
        @include main-btn;

        & .anchor {
            @include link;
        }
    }
}

.instruction-list {
    width: 80%;
    margin: 40px auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__icon {
        color: $color-text;
        padding-right: 20px;
    }

    &::before {
        content:attr(data-header);
        @include header
    }
  
    & li {
        counter-increment: step-counter;
        margin-bottom: 10px;
        background-color: $color-background;
        width: 90%;
        padding: 20px;
        border-radius: 20px;
        font-weight: bold;
        @include shadow;
        transform: scale(1);
        transition: transform 400ms;
        
        &::before{
            content: counter(step-counter);
            margin-right: 20px;
            margin-left: -30px;
            font-size: 80%;
            background-color: $color-primary;
            color: $white;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 20px;  
        }

        &:hover {
            color: $color-text;
            @include shadow(30%);
            transform: scale(1.05);
            
            .instruction-list__icon {
                color: $color-primary;
            }
        }
    }
}

.restaurants {
    margin: 0px;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background;

    &__header {
        @include header
    }

    &__btn {
        background-color: $white;
        border-radius: 20px;
        width: 100%;
        margin-bottom: 20px;
        @include shadow;
        position: relative;
        @include link ($color: initial);

        img {
            width: 100%;
            object-fit: cover;
            height: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin-bottom: -10px;
        }

        & .new {
            position: absolute;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            padding: 5px 20px;
            border-radius: 3px;
            top: 12px;
            right: 12px;
        }

        & .caption {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__text {
                margin-left: 10px;
                > p:first-child {
                    font-weight: bold;
                    margin-bottom: -10px;
                }
            }

            &__icon {
                @include heart-icon;
                
                &--full {
                    @include heart-icon;
                    color: transparent;
                    transform: scale(0.3);
                    transition: transform 300ms;

                        &:hover {
                        transform: scale(0.86);
                        background: -webkit-linear-gradient(198deg, $color-primary 10%, $color-secondary 49%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                 }
                }

                
            }
        }
    }

}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: darken($color-background , 75%);
    padding: 30px 10%;

    &__logo {
        font-family: 'Shrikhand', cursive;
        color: $color-background;
        font-size: 120%;
        padding-bottom: 20px;
    }

    &__link {
        @include link ($color-background);
    }

    &__icon {
        padding-right: 10px;
        width: 15px;
    }
}

/*--MENU PAGES--*/

.background-img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: 250px;
}

.menu {
    background-color: $color-background;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -70px;
    position: relative;
    padding: 30px 5%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
        font-family: 'Shrikhand', cursive;
        @include header ($size: 0);
        padding-left: 5%;
    }

    &__icon {
        @include heart-icon(5px);
        
        &--full {
            @include heart-icon(5px);
            color: transparent;
            transform: scale(0.3);
            transition: transform 300ms;

            &:hover {
                transform: scale(0.86);
                background: -webkit-linear-gradient(198deg, $color-primary 10%, $color-secondary 49%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.heart-container {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.submenu {
    display: flex;
    flex-direction: column;
    
    &__title {
        color: $color-text;
        position: relative;
        padding-bottom: 5px;
        margin-top: 20px;
        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.menu-item {
    background-color: $white;
    border-radius: 15px;
    height: 70px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include shadow;
    overflow: hidden;

    &__text {
        padding: 10px;
        width: 100%;
        @include text-overflow;

        > h4:first-child {
            margin-bottom: 5px;
            margin-top:0;
            @include text-overflow;
        }
        > p:last-child {
            margin: 0;
            color: $color-text;
            width: 100%;
            @include text-overflow;
        }
    }

    &__price {
        font-weight: bold;
        padding: 34px 10px 0 0;
        transition: 1s;
        transform: translateX(65px);
    }

    & .check {
        color: $white;
        background-color: $color-tertiary;
        font-size: 150%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 23px;
        transition: 1s;
        transform: translateX(70px);

        &__icon {
            transform: rotate(0deg);
            transition-duration: 600ms;
        }
    }

    &:hover {
        .check {
            transform: translateX(0px);
            transition-timing-function: ease-in-out;
        }
        
        .check__icon {
            transition-duration: 600ms;
            transform: rotate(360deg);
            transition-delay: 400ms;
        }

        .menu-item__price {
            transform: translateX(0px);
            transition-timing-function: ease-in-out;
        }
        
    }
}

.order-btn {
    @include main-btn($width: 30%);
    text-align: center;
    margin-top: 30px;
}