/*---FOOTER---*/

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: darken($color-background , 75%);
    padding: 30px 10%;

    &__logo {
        font-family: 'Shrikhand', cursive;
        color: $color-background;
        font-size: 120%;
        padding-bottom: 20px;
    }

    &__link {
        @include link ($color-background);
    }

    &__icon {
        padding-right: 10px;
        width: 15px;
    }
}