/*---Base---*/
html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

/*---Variables, Utils---*/
/*---Maps, BREAKPOINTS---*/
/*---Mixin---*/
/*---Page---*/
.logo {
  margin: 20px auto 10px auto;
  text-align: center;
}
.logo__icon {
  position: absolute;
  font-size: 150%;
  top: 22px;
  left: 20px;
  color: initial;
}
.logo__icon:visited {
  color: initial;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #a7a7a7;
  background: linear-gradient(180deg, #a7a7a7 0%, #e2e2e2 15%);
  padding: 15px;
  text-align: center;
}
.location__icon {
  flex-basis: 30px;
  color: #4D4D4D;
}
.location__text {
  flex-basis: 150px;
  color: #4D4D4D;
  font-weight: bold;
}

.explore {
  background-color: #F4F4F4;
  height: 200px;
  text-align: center;
}
.explore__title {
  font-size: 150%;
  font-weight: bold;
  padding: 25px;
}
.explore__txt {
  color: #4D4D4D;
  padding: 0 25px 25px 25px;
}
.explore__btn {
  border-radius: 30px;
  color: #ffffff;
  background: #FF79DA;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 98%);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  width: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
  max-width: 220px;
}
.explore__btn:hover {
  transform: scale(1.15);
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  box-shadow: 3px 3px 14px 0px #5b5b5b;
}
.explore__btn .anchor {
  text-decoration: none;
  color: #ffffff;
}
.explore__btn .anchor:visited {
  color: #ffffff;
}

.list-header {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 40px 10% 0 10%;
}

.instruction-list {
  width: 80%;
  max-width: 350px;
  margin: 0 auto 40px auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 665px) {
  .instruction-list {
    width: 90%;
    max-width: 1100px;
    flex-direction: row;
  }
}
.instruction-list__icon {
  color: #4D4D4D;
  padding-right: 20px;
}
.instruction-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  background-color: #F4F4F4;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
}
@media screen and (min-width: 665px) {
  .instruction-list li {
    margin: 0 15px;
    width: 80%;
    max-width: 255px;
  }
}
.instruction-list li::before {
  content: counter(step-counter);
  margin-right: 20px;
  margin-left: -30px;
  font-size: 80%;
  background-color: #9356DC;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 20px;
}
.instruction-list li:hover {
  color: #4D4D4D;
  box-shadow: 3px 3px 14px 0px #5b5b5b;
  transform: scale(1.05);
}
.instruction-list li:hover .instruction-list__icon {
  color: #9356DC;
}

.restaurants {
  margin: 0px;
  padding: 40px 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F4F4F4;
}
@media screen and (min-width: 665px) {
  .restaurants {
    padding: 40px 10%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
.restaurants__header {
  flex-basis: 100%;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
}

.restaurants__btn {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 20px auto;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  position: relative;
  text-decoration: none;
  color: initial;
}
.restaurants__btn:visited {
  color: initial;
}
@media screen and (min-width: 665px) {
  .restaurants__btn {
    width: 45%;
    max-width: 480px;
  }
}
.restaurants__btn img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -10px;
}
.restaurants__btn .new {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px 20px;
  border-radius: 3px;
  top: 12px;
  right: 12px;
}
.restaurants__btn .caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants__btn .caption__text {
  margin-left: 10px;
}
.restaurants__btn .caption__text > p:first-child {
  font-weight: bold;
  margin-bottom: -10px;
}
.restaurants__btn .caption__icon {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  margin: 25px 25px 0 0;
}
.restaurants__btn .caption__icon--full {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  margin: 25px 25px 0 0;
  color: transparent;
  transform: scale(0.3);
  transition: transform 300ms;
}
.restaurants__btn .caption__icon--full:hover {
  transform: scale(0.86);
  background: -webkit-linear-gradient(198deg, #9356DC 10%, #FF79DA 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 30px 10%;
}
.footer-container__logo {
  font-family: "Shrikhand", cursive;
  color: #F4F4F4;
  font-size: 120%;
  padding-bottom: 20px;
}
.footer-container__link {
  text-decoration: none;
  color: #F4F4F4;
}
.footer-container__link:visited {
  color: #F4F4F4;
}
.footer-container__icon {
  padding-right: 10px;
  width: 15px;
}

/*--MENU PAGES--*/
.background-img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: 250px;
}

.menu {
  background-color: #F4F4F4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -70px;
  position: relative;
  padding: 30px 5%;
  max-width: 1300px;
}
@media screen and (min-width: 1024px) {
  .menu {
    margin: -70px auto 1px auto;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container__title {
  font-family: "Shrikhand", cursive;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 5%;
}
.header-container__icon {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  margin: 5px;
}
.header-container__icon--full {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  margin: 5px;
  color: transparent;
  transform: scale(0.3);
  transition: transform 300ms;
}
.header-container__icon--full:hover {
  transform: scale(0.86);
  background: -webkit-linear-gradient(198deg, #9356DC 10%, #FF79DA 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.submenu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .submenu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.submenu__title {
  color: #4D4D4D;
  position: relative;
  padding-bottom: 5px;
  margin-top: 20px;
}
@media screen and (min-width: 665px) {
  .submenu__title {
    margin: 20px auto 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .submenu__title {
    flex-basis: 100%;
  }
}
.submenu__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-item {
  background-color: #ffffff;
  border-radius: 15px;
  height: 70px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 665px) {
  .menu-item {
    max-width: 600px;
    width: 100%;
    margin: 15px auto 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu-item {
    max-width: 400px;
    width: 32%;
  }
}
.menu-item__text {
  padding: 10px;
  width: 78%;
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__text > h4:first-child {
  margin-bottom: 5px;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__text > p:last-child {
  margin: 0;
  color: #4D4D4D;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__price {
  font-weight: bold;
  padding: 34px 10px 0 0;
  transition: 1s;
  transform: translateX(65px);
  position: absolute;
  right: 80px;
}
.menu-item .check {
  color: #ffffff;
  background-color: #99E2D0;
  font-size: 150%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 23px;
  transition: 1s;
  transform: translateX(70px);
  position: absolute;
  right: 0;
}
.menu-item .check__icon {
  transform: rotate(0deg);
  transition-duration: 600ms;
}
.menu-item:hover .check {
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}
.menu-item:hover .check__icon {
  transition-duration: 600ms;
  transform: rotate(360deg);
  transition-delay: 400ms;
}
.menu-item:hover .menu-item__price {
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}
.menu-item:hover .menu-item__text {
  width: 60%;
}

.order-btn {
  border-radius: 30px;
  color: #ffffff;
  background: #FF79DA;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 98%);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  width: 30%;
  margin: 0 auto;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
  max-width: 120px;
  text-align: center;
  margin-top: 30px;
}
.order-btn:hover {
  transform: scale(1.15);
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  box-shadow: 3px 3px 14px 0px #5b5b5b;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  85% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}
.submenu.delay-1 .menu-item, .submenu.delay-2 .menu-item, .submenu.delay-3 .menu-item {
  animation: FadeIn 600ms linear;
  animation-fill-mode: backwards;
}

.submenu.delay-1 .menu-item:nth-child(2) {
  animation-delay: 0.2s;
}

.submenu.delay-1 .menu-item:nth-child(3) {
  animation-delay: 0.4s;
}

.submenu.delay-1 .menu-item:nth-child(4) {
  animation-delay: 0.6s;
}

.submenu.delay-1 .menu-item:nth-child(5) {
  animation-delay: 0.8s;
}

.submenu.delay-2 .menu-item:nth-child(2) {
  animation-delay: 1.2s;
}

.submenu.delay-2 .menu-item:nth-child(3) {
  animation-delay: 1.4s;
}

.submenu.delay-2 .menu-item:nth-child(4) {
  animation-delay: 1.6s;
}

.submenu.delay-3 .menu-item:nth-child(2) {
  animation-delay: 2.2s;
}

.submenu.delay-3 .menu-item:nth-child(3) {
  animation-delay: 2.4s;
}

.submenu.delay-3 .menu-item:nth-child(4) {
  animation-delay: 2.6s;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0.4;
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 2s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__container {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dots--primary {
  background-color: #9356DC;
  animation: pulse 0.4s ease 0s infinite alternate;
}
.dots--secondary {
  background-color: #FF79DA;
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.dots--tertiary {
  background-color: #99E2D0;
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

/*# sourceMappingURL=style.css.map */
