/*---Base---*/
html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

/*---Variables, Utils---*/
/*---Page---*/
.logo {
  margin: 20px auto;
  text-align: center;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #a7a7a7;
  background: linear-gradient(180deg, #a7a7a7 0%, #e2e2e2 15%);
  padding: 15px;
  text-align: center;
}
.location__icon {
  flex-basis: 30px;
  color: #4D4D4D;
}
.location__text {
  flex-basis: 150px;
  color: #4D4D4D;
  font-weight: bold;
}

.explore {
  background-color: #F4F4F4;
  height: 200px;
  text-align: center;
}
.explore__title {
  font-size: 150%;
  font-weight: bold;
  padding: 25px;
}
.explore__txt {
  color: #4D4D4D;
  padding: 0 25px 25px 25px;
}
.explore__btn {
  border-radius: 30px;
  color: #ffffff;
  background: #FF79DA;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 98%);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  width: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
}
.explore__btn:hover {
  transform: scale(1.15);
}
.explore__btn .anchor {
  text-decoration: none;
}
.explore__btn .anchor:visited {
  color: #ffffff;
}

.instruction-list {
  width: 80%;
  margin: 40px auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.instruction-list__icon {
  color: #4D4D4D;
  padding-right: 20px;
}
.instruction-list::before {
  content: attr(data-header);
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: -15px;
}
.instruction-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  background-color: #F4F4F4;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
}
.instruction-list li::before {
  content: counter(step-counter);
  margin-right: 20px;
  margin-left: -30px;
  font-size: 80%;
  background-color: #9356DC;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 20px;
}
.instruction-list li:hover {
  color: initial;
}
.instruction-list li:hover .instruction-list__icon:hover {
  color: #9356DC;
}

.restaurants {
  margin: 0px;
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F4F4;
}
.restaurants__header {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: -15px;
}
.restaurants__btn {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  position: relative;
  text-decoration: none;
}
.restaurants__btn:visited {
  color: initial;
}
.restaurants__btn img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -10px;
}
.restaurants__btn .new {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px 20px;
  border-radius: 3px;
  top: 12px;
  right: 12px;
}
.restaurants__btn .caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants__btn .caption__text {
  margin-left: 10px;
}
.restaurants__btn .caption__text > p:first-child {
  font-weight: bold;
  margin-bottom: -10px;
}
.restaurants__btn .caption__icon {
  align-self: center;
  padding: 20px;
  font-size: 150%;
  cursor: pointer;
  position: relative;
  transition: transform 450ms, color 300ms 150ms;
}
.restaurants__btn .caption__icon:hover {
  transform: scale(1.13);
  background: -webkit-linear-gradient(198deg, #9356DC 5%, #FF79DA 49%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
