/*---ANIMATIONS---*/

// MENU DISHES ANIMATION

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: scale(.6);
    }

    85% {
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    from {
        bottom: -100px;
    }
    to {
        bottom: 0px;
    }
  }

  .submenu.delay-1, .submenu.delay-2, .submenu.delay-3 {
      .menu-item {
        animation: FadeIn 600ms linear;
        animation-fill-mode: backwards;
    }
  }

  .submenu.delay-1 .menu-item:nth-child(2) { animation-delay: .2s;}
  .submenu.delay-1 .menu-item:nth-child(3) { animation-delay: .4s;}
  .submenu.delay-1 .menu-item:nth-child(4) { animation-delay: .6s;}
  .submenu.delay-1 .menu-item:nth-child(5) { animation-delay: .8s;}
  .submenu.delay-2 .menu-item:nth-child(2) { animation-delay: 1.2s;}
  .submenu.delay-2 .menu-item:nth-child(3) { animation-delay: 1.4s;}
  .submenu.delay-2 .menu-item:nth-child(4) { animation-delay: 1.6s;}
  .submenu.delay-3 .menu-item:nth-child(2) { animation-delay: 2.2s;}
  .submenu.delay-3 .menu-item:nth-child(3) { animation-delay: 2.4s;}
  .submenu.delay-3 .menu-item:nth-child(4) { animation-delay: 2.6s}

//   END

// LOADER ANIMATION

@keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1.2);
    }
    to {
      opacity: .4;
      transform: scale(1);
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -1;
    }
  }

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 2s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }
  }

.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &--primary {
      background-color: $color-primary;
      animation: pulse .4s ease 0s infinite alternate;
    }
    &--secondary {
      background-color: $color-secondary;
      animation: pulse .4s ease .2s infinite alternate;
    }
    &--tertiary {
      background-color: $color-tertiary;
      animation: pulse .4s ease .4s infinite alternate;

    }
  }

//   END